---
import SideMenuItem from "./SideMenuItem.astro";
import { sidebarPlaylists } from "../../lib/data";
import SideItemCard from "./SideItemCard.astro";
---

<div class="flex flex-col flex-1 gap-2">
  <div class="bg-zinc-900 rounded-lg">
    <ul>
      <SideMenuItem href="/" iconName="carbon:home">Inicio</SideMenuItem>
      <SideMenuItem href="/itinerario" iconName="carbon:notebook">Itinerario completo</SideMenuItem>
    </ul>
  </div>

  <div class="bg-zinc-900 rounded-lg flex-1">
    <ul>
      <SideMenuItem href="#" iconName="carbon:location-heart-filled">
        Sitios de interes
      </SideMenuItem>
    </ul>
    <ul class="pl-2">
      {sidebarPlaylists.map((playlist) => <SideItemCard {playlist} />)}
    </ul>
  </div>
</div>
